:root {
    --color-1: #17252A;
    --color-2: #2B7A78;
    --color-3: #3AAFA9;
    --color-4: #DEF2F1;
    --color-5: #FEFFFF;
}

.border {
    border: solid;
}

.flex-container {
    /* Container for flexbox items */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    max-width: 400px;
    height: auto;
    text-align: center;
}

.card-img {
    max-width: 80%;
    height: auto;
    padding: 10px;
    margin: 10px;
}
