:root {
    --color-1: #17252A;
    --color-2: #2B7A78;
    --color-3: #3AAFA9;
    --color-4: #DEF2F1;
    --color-5: #FEFFFF;
    --navbar-height: 50px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    position: fixed;
    overflow: hidden;
    top: 0;
    z-index: 1;
    width: 100%;
    height: var(--navbar-height);
    background: var(--color-1);
}

.navbar a {
  float: left;
  color: var(--color-3);
  text-align: center;
  padding: 17px 25px;
  text-decoration: none;
  font-size: 16px;
}

.navbar a:hover {
    color: var(--color-5);
    background: var(--color-3);
    cursor: pointer;
}

.navbar a.active {
    color: var(--color-5);
}

.nav-right {
  float: right;
}

section {
    width: 100%;
    margin-top: var(--navbar-height);
}

.border {
    border: solid;
}

.flex-container {
    /* Container for flexbox items */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    max-width: 400px;
    height: auto;
    text-align: center;
}

.card-img {
    max-width: 80%;
    height: auto;
    padding: 10px;
    margin: 10px;
}

.section-header {
    text-align: center;
    padding: 30px
}

.section-header h1 {
    color: var(--color-3);
}

.section-header h4 {
    color: var(--color-1);
    padding: 15px;
}
